/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    color: #555;
}

/* Mejoras para la sección de servicios y productos */
#services {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.service-item, .product-item, .special-service-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.service-item img, .product-item img, .special-service-item img {
    width: 150px;
    height: auto;
    margin-right: 15px;
    border-radius: 8px;
}

.service-item p, .product-item p, .special-service-item p {
    margin: 0;
    text-align: left;
    color: #333;
}

/* Estilo de los encabezados dentro de los servicios */
h3 {
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}

/* Estilo para footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 14px;
}


